<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915758146133-c3qulovaidclphln5dm5fjoa26eivrpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915758146133-c3qulovaidclphln5dm5fjoa26eivrpb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>915758146133-bb5j8nkjpat5u1le1pns800gh2gsmgk0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkcN-hmY8uZMnNxoKnoe-drznrHxTh4dw</string>
	<key>GCM_SENDER_ID</key>
	<string>915758146133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.epns.epnsproject</string>
	<key>PROJECT_ID</key>
	<string>epns-ethereum-push-service</string>
	<key>STORAGE_BUCKET</key>
	<string>epns-ethereum-push-service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915758146133:ios:ce6d9ba12ebe2d8c2f2adc</string>
	<key>DATABASE_URL</key>
	<string>https://epns-ethereum-push-service.firebaseio.com</string>
</dict>
</plist>